In [11]:
%matplotlib inline
import numpy as np
import pandas as pd

In [12]:
census = pd.read_csv("../data/census.csv")

The above data set is a cleaned census extract pulled from the UCI Machine Learning repository. You can find out more about the data set here: http://archive.ics.uci.edu/ml/datasets/Census+Income

We will perform some relatively simple analysis like the one we performed this week.

In [13]:
census.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,59,Private,307423,9th,5,Never-married,Other-service,Not-in-family,Black,Male,0,0,50,United-States,0
1,32,Private,192965,HS-grad,9,Separated,Sales,Not-in-family,White,Female,0,0,45,United-States,0
2,19,Private,125591,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,0
3,51,Without-pay,124963,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,0
4,57,Self-emp-inc,146103,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,15024,0,30,United-States,1

First plot a histogram of the ages in the data set.

Now plot a histogram of the number of years of education. This is the `education-num` column.

Now plot a horizontal bar plot of the counts of marital status.

What is the average age of the divorced group? The standard deviation? The min? The max? The interquartile range?

What is the average age of the Never-married group? The standard deviation? The min? The max? The interquartile range?

How many different distinct occupations are there in the data set?

What is the average age for each occupation?

For the farm-fishing occupation, plot a histogram of the capital gains.

Plot the average and maximum capital loss for each grouping of `hours-per-week`.